<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action="/user_input" method="post">
      <p>Enter your phrase:<input type="text" name="user_text" value=""></p>
      
    </form>
  
  </body>
</html>